name: Update GitHub Activity

on:
  schedule:
    - cron: '0 * * * *' # Executa a cada hora
  workflow_dispatch:   # Permite execução manual para testes

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Update Activity Section
        uses: jamesgeorge007/github-activity-readme@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          COMMIT_MSG: "docs: update recent activity [skip ci]"
          MAX_LINES: 5
